{% extends "TravelExperienceApp/base.html" %}
{% block content %}
<h2>ABOUT US</h2>
<hr/>
   <p><img style="float: right; margin-left:20px; " alt="" src="/media/teamwork.jpg" height="375" width="300" />
      <h6>The Agile Travelogue by Team 38</h6>
      Our team has decided to create a travel experience website, our travel experience website is a
      platform that allows users to simply start on creating a post to share their travel experience
      stories. Our platform is more towards photo and content sharing social networking. It is also capable
      of providing updated travel information based on user’s input and enabling better travel decisions.
      Through the use of our travel experience website platform, users are able to search posts, create post, commenting on a post,
      like & share a post, edit post, edit profile etc.
      <br/>
      <br/>
      We believe that this idea could be developed further and better integrated to bring
      about greater convenience to the users by providing a web application for the people’s needs in
      sharing their meaningful journey to another country.
      <br/><br/><br/>
      <a class="btn btn-secondary" href="/contact">Click here to contact us</a>
   </p>
{% endblock content %}